.Space_Font_chat {
    font-family: 'Space Age', sans-serif;
    color: aliceblue;
    font-size: 2.5rem;
    font-weight: 200;
  }

.messages-container {
    display: flex;
    position: absolute;
    top: 2%;
    left: 1%;
    width: 32.33%;
    bottom: 2%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: flex-start;
}

.conversation-container-header {
    display: flex;
    display: none;
    position: absolute;
    top: 2%;
    right: 1%;
    width: 64.66%;
    height: 10%;
    background: rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.head {
  display: flex; /* Align items horizontally */
  align-items: center; /* Vertically center the image and text */
  gap: 20px; /* Add spacing between the image and text */
  padding: 10px; /* Add padding around the header */
  position: relative; /* Allow positioning adjustments if needed */
  left: 3%;
}

.head img {
  width: 70px;
  height: 70px;
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image fits within the dimensions */
}

.head span {
  /* font-family: 'Space Age', sans-serif; */
  font-weight: bold;
  font-size: 2.2rem; 
  color: #000000; /* Set text color */
}

.conversation-container {
    display: flex;
    display: none;
    position: absolute;
    top: 15%;
    bottom: 2%;
    right: 1%;
    width: 64.66%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.3);  /* This is the background color */
    overflow: hidden;  /* To ensure the pseudo-element doesn't spill out */
}

.default-conv {
  display: flex;
  position: absolute;
  top: 2%;
  bottom: 2%;
  right: 1%;
  width: 64.66%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.3);  /* This is the background color */
  overflow: hidden;  /* To ensure the pseudo-element doesn't spill out */
  justify-content: center;
  align-items: center;
}


.default-conv::before {
    content: "";
    position: absolute;
    top: 13.5%;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./../assets/chat/background_conversation.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3; /* Set the opacity for the background image */
    z-index: -1; /* Make sure the image stays behind the content */
}

.default-conv-text {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    text-align: center;
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.3);
    font-family: 'Space Age', sans-serif;
}

.conversation-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./../assets/chat/background_conversation.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3; /* Set the opacity for the background image */
    z-index: -1; /* Make sure the image stays behind the content */
}


.user-search-input {
  display: flex;
  position: absolute;
  left: 4%;
  right: 10%;
  top: 12%;
  padding: 10px;
  width: 75%;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 45px; /* Adjusted height to account for padding */
  box-sizing: border-box; /* Ensure consistent sizing */
}

.search-results {
    position: absolute;
    top: 18%;
    left: 4%;
    right: 10%;
    width: 75%;
    max-height: 200px;
    overflow-y: auto;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    box-sizing: border-box;


}
.user-entry {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .user-entry:hover {
    background-color: #eee;
  }
  
  .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-name {
    font-size: 1rem;
    color: #333;
  }

  .conversation-list {
    position: absolute;
    top: 22%;
    left: 4%;
    right: 4%;
    max-height: 76%;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.2);
    z-index: 5;
    padding-right: 12px;
  }

  /* Scrollbars for firefox */
  .conversation-list, .chat-container {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  }

  /* Scrollbars for webkit browsers as chrome, edge, safari*/
  .conversation-list::-webkit-scrollbar, .chat-container::-webkit-scrollbar {
    width: 8px;
  }

  .conversation-list::-webkit-scrollbar-thumb, .chat-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
  
  .conversation-item {
    cursor: pointer;
    transition: background 0.2s;
    border-bottom: 1px solid rgba(0, 0 ,0 ,0.3);

  }
  .conversation-item:hover {
    background: rgba(255, 255, 255, 0.05);
  }
  


.message-input {
	display: flex;
  display: none;
	position: absolute;
	left: 9%;
	right: 9%;
	bottom: 2%;
	padding: 10px;
  width: 78%;
	padding-left: 40px;
	font-size: 1rem;
	border-radius: 5px;
	border: none;
	outline: none;
	height: 25px;
}


.chat-container {
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
  overflow-y: auto;
  max-height: 90%;
	/* background: rgba(0, 178, 30, 0.1); */
  }
  
  .notification-icon{
    position: absolute;
    right: 9%;
    top: 12%;
    justify-content: flex-end;
  }

  
  
  .notification-icon {
    width: 45px;
    height: 45px;
    cursor: pointer;
  }
  

  .notification-popup {
    position: absolute;
    top: calc(12% + 50px); /* Align it below the notification image (12% + image height) */
    right: 10%; /* Align it with the notification image's right position */
    width: 400px; /* Set a fixed width for the popup */
    max-height: 200px;
    overflow-y: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 11;
    display: none; /* Hidden by default */
    box-sizing: border-box;
  }


  .notification-item {
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  .notif-message {
    justify-content: start;
    display: flex;
    max-width: 350px;
    font-size: 14px;
  }

  .notif-buttons {
    display: flex;
    justify-content: end;
    gap: 5px;
    margin-left: auto; /* Push buttons to the right */
  }
  
  .notification-item:last-child {
    border-bottom: none;
  }

  .accept-btn, .decline-btn {
    background: none;
    border: none;
    cursor: pointer;
    justify-content: end;
    
    right: 0;
  }

  .accept-btn {
    padding-left: 10%;
  }


  .accept-btn img, .decline-btn img {
    width: 24px;
    height: 24px;
    display: inline-block;
  }

  .accept-btn:hover img, .decline-btn:hover img {
    transform: scale(1.2);
    transition: transform 0.2s;
  }

  

  .user-detail-box {
    position: absolute;
    top: 18%;
    left: 4%;
    right: 10%;
    width: 75%;
    height: 190px;
    overflow-y: auto;
    background: rgba(158, 185, 254);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: none;
    box-sizing: border-box;
  }



  /*  */

  .user-detail {
    text-align: center;
}


.user-pdp {
    display: flex;
    position: absolute;
    top: 15%;
    left: 5%;
}

.user-profile-image {
    width: 130px;
    height: 130px;
    border-radius: 10%;
    margin-bottom: 5px;
    border: 4px double rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

.usr-info {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  position: absolute;
  top: 5%;
  left: 45%;
  text-align: left; /* Ensure text alignment starts from the left */
}

.user-name {
  font-size: 35px;
  margin-bottom: 0px; /* Add a small margin to create slight spacing */
  align-self: flex-start; /* Align the name to the start of the parent */
}

.user-slogan {
  font-size: 17px;
  margin-top: 0; /* Remove any top margin to reduce spacing */
  align-self: flex-start; /* Align the slogan to the start of the parent */
}

.user-actions {
    display: flex;
    flex-direction:row;
    align-items: center;
    position: absolute;
    gap: 10px;
    bottom: 15%;
    left: 45%;
}

.action-button {
    display: flex;
    align-items: center;
    width: 60px;
    height: 40px;
    padding: 10px;
    margin: 5px 0;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
      
}

.action-button img {
    width: 25px;
    height: 25px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.new-message-indicator {
  width: 13px;
  height: 13px;
  background-color: red;
  border-radius: 50%;
  position: absolute;  /* Position the indicator relative to the parent container */
  top: 5px;
  right: 5px;
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}