@keyframes fall {
  0% {
    transform: translate(-50%, -200%) scale(1.2) rotate(-15deg);
    opacity: 0;
  }
  60% {
      transform: translate(-50%, -52%) scale(1.05) rotate(3deg);
      opacity: 1;
    }
    80% {
      transform: translate(-50%, -51%) scale(1) rotate(-1deg);
    }
    100% {
      transform: translate(-50%, -50%) scale(1) rotate(0deg);
    }
}

.vs-image {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 73%;
  height: auto;
  animation: fall 1.5s ease-out forwards;
}

@keyframes pulseBirth {
0% {
  transform: scale(0);
  opacity: 0;
  box-shadow: 0 0 0 rgba(158, 185, 254, 0);
}
60% {
  transform: scale(1.05);
  opacity: 1;
  box-shadow: 0 0 20px rgba(158, 185, 254, 0.5);
}
100% {
  transform: scale(1);
  opacity: 1;
  box-shadow: 0 0 10px rgba(158, 185, 254, 0.3);
}
}

.first-player img {
position: absolute;
bottom: 26%;
left: 21%;
width: 350px;
height: 350px;
border-radius: 10px;
border: 4px double rgba(158, 185, 254);
box-shadow: 0 0 100px rgba(158, 185, 254, 0.6);
z-index: 2;
opacity: 0;
animation: pulseBirth 0.5s ease-out forwards;
animation-delay: 1s;
}

.second-player img {
position: absolute;
top: 16%;
right: 21%;
width: 350px;
height: 350px;
border-radius: 10px;
border: 4px double rgb(188, 88, 0);
box-shadow: 0 0 100px rgba(188, 88, 0, 0.9);
z-index: 2;
opacity: 0;
animation: pulseBirth 0.5s ease-out forwards;
animation-delay: 1s;
}

@keyframes pulseBirth {
0% {
  transform: scale(0);
  opacity: 0;
}
60% {
  transform: scale(1.05);
  opacity: 1;
}
100% {
  transform: scale(1);
  opacity: 1;
}
}

/* While rotating through avatars */
.spin-animation {
animation: flicker 0.2s infinite alternate;
opacity: 0.7;
}

@keyframes flicker {
from { filter: grayscale(0.4) brightness(1.2); }
to { filter: grayscale(0.7) brightness(0.8); }
}

/* When final opponent is revealed */
.reveal-animation {
animation: pulseBirth 0.6s ease-out forwards;
}

.matchMaking-container {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 99vh;
padding: 20px;
box-sizing: border-box;
}


/* The cancel button stays at the bottom */
.cancel-matchMaking {
position: relative;
margin-top: 0;
display: flex;
justify-content: center;
}